.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
  color: orange;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
}

.item-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.item-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.item-row p {
  margin: 0;
}

.item-row .item-name {
  flex-basis: 60%;
}

.item-row .item-price {
  flex-basis: 20%;
}

.item-row .item-quantity {
  flex-basis: 20%;
}

.item-actions {
  display: flex;
  align-items: center;
}

.quantity-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-button.minus {
  background-color: red;
  width: 30px;
}

.remove-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.checkout-button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.checkout-button:hover {
  background-color: royalblue;
}

.remove-button:hover {
  background-color: red;
}

.item-name {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.item-price,
.item-quantity {
  margin: 0 10px;
  font-size: 18px;
}

p {
  color: royalblue;
}