.food-truck-menu {
  display: flex;
  color: orange;
  padding-top: 50px;
  
  .menu-left-side {
    padding-left: 100px;
    padding-right: 100px;

    h2 {
      color: lightgray;
      margin-bottom: 10px;
      text-align: left;
    }

    .hours-container {
      display: flex;
      flex-direction: column;

      .hours-title {
        margin-bottom: 5px;
      }

      .hours {
        color: royalblue;
        margin-left: 10px;
        margin-top: 0%;
        margin-bottom: 0%;
      }

      .end {
        margin-bottom: 10px;
      }
    }
  }
  
  .menu-right-side {
    color: royalblue;
    padding-right: 100px;

    h3 {
      color: orange;
    }
  }

  .menu-item-content {
    display: flex;
    align-items: flex-start;
  }
  
  .menu-item-image {
    width: 100px; 
    height: 100px;
    margin-right: 10px;
    // flex-shrink: 0;
  }

  .menu-item-individual {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 1250px;
  }

  .menu-item-individual:hover {
    background-color: #f1f1f1;
  }
  
  .menu-item-title-price {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;

    h3 {
      text-align: left;
    }
  }

  .cart-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-item-allergens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 70px;
    left: 94px;
    padding: 10px;
  }

  .menu-item-description {
    color: gray;
    margin-top: 0;
    max-height: none;
    text-align: left;
  
    &.allergens-open {
      padding-top: 40px;
      top: 30px;
    }
  }

  .menu-item-details {
    flex-grow: 1;
    text-align: right;
  }

  .menu-calories-and-allergens {
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
    
    p {
      margin: 0;
      padding-right: 10px;
    }

    .halal {
      margin-left: 10px;
    }

  }
}

.price {
  font-size: 24px;
  margin: 3px;
}