.food-trucks-container {
  margin: 0 auto;
  text-align: center;

  p {
    color: royalblue
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.food-truck {
  width: 300px;
  flex-basis: 25%;
  border: 3px solid #ccc;
  border-radius: 20px;
  margin: 1.5rem;
}

.food-truck:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.food-truck-orange {
  color: orange;
  padding: 10px;
}

.food-truck a {
  text-decoration: none;
}

.food-truck-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-height: 180px;
  margin-bottom: 10px;
}