.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 50px;

  .logo {
    height: 100px;
  }
}

.nav-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: orange;
  gap: 5px;

  a {
    color: orange;
    font-size: 20px;
    text-decoration: none;
  }
}

.nav-bar-right {
  color: orange;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 5px;

  a {
    color: orange;
    font-size: 20px;
    text-decoration: none;
  }
}

.prompt-login {
  margin-top: 15px;
}
