.order-item .status {
  color: black;
  font-weight: bold;
}
.order-item {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Adjust the width as needed for different screen sizes */
@media (min-width: 768px) {
  .order-item {
    width: 1024;
  }
}

