.search-bar-text {
  height:36px;
  width: 350px;
  line-height:24px;
  margin-right: 5px;
}

.search-bar-button {
  vertical-align:top;
  padding:0 4px 3px;
  height:36px;
  width:5em;
  line-height:22px;
}