.search-bar-text {
  // padding:0 4px;
  // margin:0px;
  height:36px;
  width: 350px;
  line-height:24px;
}

.search-bar-button {
  vertical-align:top;
  padding:0 4px 3px;
  // margin:0;
  height:36px;
  width:5em;
  line-height:22px;
}